src/main/mule/common-req-conn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="285e3a2d-e9a5-4776-98ee-5b6d3b79116f" basePath="${system.basepath}">
		<http:request-connection host="${system.host}" port="${system.port}">
		</http:request-connection>
	</http:request-config>
	<flow name="salesforce-sys-api-request"
		doc:id="22f4c089-b74a-4ee2-96c4-e55689d11331">
		<http:request method="#[vars.method]" doc:name="http-Request" doc:id="25b8c36d-c2a1-45ec-b6d5-f0e34064c9da" config-ref="HTTP_Request_configuration1" path="#[vars.path]" responseTimeout="1800000">
			<http:uri-params ><![CDATA[#[%dw 2.0
output application/json
---
vars.uriParams default {}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[%dw 2.0
output application/json
---
vars.queryParams default {}]]]></http:query-params>
		</http:request>
		<error-handler ref="globalErrorHandlerError_Handler" />
	</flow>
	
</mule>
