src/main/mule/compensation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="patch-compensation-flow" doc:id="2654698d-7d15-4604-9c61-73ace39c318f" >
		<set-variable value="#[payload reduce($)]" doc:name="actualPayload from postman" doc:id="63b48268-b8c2-4284-9f09-654ebfae9a5a" variableName="actualPayload"/>
		<ee:transform doc:name="Fetching a record from compensation object by using uriParams" doc:id="ae041f9b-862b-4e32-bb56-d761e9090887" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="method" ><![CDATA['GET']]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA['${system.path.compensation.getByIdCompensation}']]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA['id': vars.actualPayload.employeeId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Referenced to http request" doc:id="059c5d9a-79ad-4171-b81d-88d481dbd0e7" name="salesforce-sys-api-request"/>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="37a649b7-5fdf-4381-a8df-1b56a045f2f1" message='#["These employeeID :" ++ vars.actualpayload.employeeId as String ++ " is not present in the database"]'/>
		<ee:transform doc:name="The payload which is coming from sapi i'm converting array into object" doc:id="f89a0ad1-3251-4f3c-96d7-39b8422944ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload reduce($)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Based on hike percentage i'm updating the salary field and variablePay field" doc:id="b8cbf0da-c4f6-42ab-a22a-f29ba1017098" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a = round(((vars.actualPayload.hike +100) /100)*(payload.yearly__c)) as String
var variablepay = round(((vars.actualPayload.variablePay) /100)* (a)) as String
---

	{
	bonus: payload.bonus__c as String,
	employeeId: payload.employeeId__c,
	hike: vars.actualPayload.hike ++ "%" as String,
	employeeName: payload.Name,
	salary: round(((a) - (variablepay) ) /12) as String,
	variablePay: variablepay,
	year: vars.actualPayload.year as String,
	yearly: (a) as String 
	}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Updated payload which i'm storing here  " doc:id="86115168-a128-4ed0-ada4-db5692a3c1d3" variableName="beforeupdate"/>
		<ee:transform doc:name="I'm updating the record by using PATCH operation" doc:id="bff6fdfa-7366-4461-acce-0b2f89f41071" >
			<ee:message >
				<ee:set-payload ><![CDATA[[payload]]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="method" ><![CDATA['PATCH']]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA['${system.path.compensation.patchCompensation}']]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA['id': payload.employeeId ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Referenced to http request" doc:id="f599b33a-5f1b-4ba3-81b0-5bfac2042ab6" name="salesforce-sys-api-request"/>
		<ee:transform doc:name="Actual payload" doc:id="25181f28-747e-4e49-8a5b-efaf52f49c4c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"employeeName": vars.beforeupdate.employeeName,
	"employeeId": vars.beforeupdate.employeeId,
	"yearlyPackage": vars.beforeupdate.yearly,
	"variablePay": vars.beforeupdate.variablePay,
	"monthlySalary": vars.beforeupdate.salary,
	"year": vars.beforeupdate.year,
	"hike": vars.beforeupdate.hike
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="globalErrorHandlerError_Handler" />
	</flow>
</mule>
